<h2>Sign-In</h2>

<% if flash[:error] %>
  <p>
    <%= flash[:error].join(', ') %>
  </p>
<% end %>

<%= form_for @user do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit 'Sign In' %>
  </p>
<% end %>
